.header {
  color: #0A2756;
  background: #FFFFFF;
  padding: 16px 50px;
  display: flex;
  align-items: center;
  gap: 24px;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    position: relative;
  }

  @media screen and (max-width: 425px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__burger-container {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      width: 25px;
      height: 22px;
      position: relative;

      &.active {
        .header__burger-span {
          &:nth-child(1) {
            transform: translateY(0) rotate(45deg);
          }
        }

        .header__burger-span {
          &:nth-child(2) {
            opacity: 0;
          }
        }

        .header__burger-span {
          &:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
          }
        }
      }
    }

  }

  &__burger-span {

    @media screen and (max-width: 768px) {
      position: absolute;
      padding: 0;
      margin: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #0A2756;
      top: 50%;
      cursor: pointer;
      transition: 0.3s;

      &:nth-child(1) {
        transform: translateY(10px);
      }

      &:nth-child(3) {
        transform: translateY(-10px);
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-left: 1px solid #C4C4C4;

    @media screen and (max-width: 768px) {
      &_type_active {
        display: flex;
      }

      display: none;
      position: absolute;
      flex-direction: column;
      top: 76.59px;
      left: 0;
      width: 100vw;
      background-color: #FFFFFF;
      z-index: 50;
      border-left: 0;
      padding: 80px 0 176px;
      gap: 30px;
    }

    @media screen and (max-width: 425px) {
      padding: 47px 0 37px;
      gap: 26px;
    }
  }

  &__logo {
    display: inline-block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 29px;
    line-height: 34.6px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0;
    width: 180px;

    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }
  }

  &__nav {
    padding: 0 24px;


  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__list-item {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: 'Tex Gyre Heros', 'Helvetica Neue', Arial, sans-serif;

    &:hover {
      text-decoration: underline #0A2756;
    }
  }

  &__list-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 500;
  }

  &__btn {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 300;
    color: #007DFE;
    padding: 8px 30px;
    margin: 10px;
    outline: none;
    border: 1px solid #007DFE;
    background: transparent;

    @media screen and (max-width: 1024px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
  }

  &__icon-link {
    text-decoration: none;
  }

  &__icon-img {
    height: 26px;
    width: 26px;
  }
}